header.header {
  background: #9fd3cf;
  text-align: center;
  padding: 20px;
  border-bottom: 5px solid #424348;

  .header-title {
    font-size: 25px;
    color: #424348;
    text-transform: uppercase;
  }
}
